In [1]:
#print first 10 numbers(single parameter)
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
#print numbers(two parameter)
for i in range(1,11,3):
    print(i)

1
4
7
10

In [3]:
n=int(input("enter n value:"))
n1=int(input("enter n1 value:"))
for i in range(n,n1):
    if i%2==0:
        print(i)

enter n value:1
enter n1 value:20
2
4
6
8
10
12
14
16
18

In [4]:
n=int(input("enter n value:"))
n1=int(input("enter n1 value:"))
for i in range(0,11,2):
    print(i,end='')

enter n value:1
enter n1 value:10
0246810

In [5]:
n=int(input("enter n value:"))
sum=0
for i in range(n):
    sum=sum+i
print(sum)
average=sum/n
print(average)

enter n value:10
45
4.5

In [6]:
a=int(input("enter a value"))
b=int(input("enter b value"))
sum=0
count=0
for i in range(a,b+1):
    sum=sum+i
    count=count+i
print(sum)
print(count)
print("average",sum/count)

enter a value10
enter b value50
1230
1230
average 1.0

In [7]:
n=int(input())
n1=int(input())
sum1=0
count=0
for i in range(n,n1+1):
    if i%2==0:
        count=count+1
        sum=sum+1
print("sum of even numbers is",sum1)
print("average is",sum1/count)

10
50
sum of even numbers is 0
average is 0.0

In [8]:
n=input()
n1=input()
sum1=0
count=0
for i in range(int(n),int(n1)+1):
    count=count+1
    sum1=sum1+int(i)
print("sum is:",sum1)
#print(count)
print("average is",sum1/count)

1
15
sum is: 120
average is 8.0

In [9]:
#print factorial of a number
n=int(input())
fact=1
for i in range(1,n+1):
    fact=fact*i
print("factorial of a given number:",fact)

5
factorial of a given number: 120

In [10]:
#check whether the given number is prime or not
n=int(input())
factor_count=0
for i in range(1,n+1):
    if n%i==0:
        factor_count +=1
print(factor_count)
if factor_count==2:
    print(n,"is prime number")
else:
    print(n,"is not a prime number")

5
2
5 is prime number

In [12]:
#check whether the given number is perfect or not
n=int(input())
sum1=0
for i in range(1,n):
    if n%i==0:
        sum1+=1
print(sum1)
if sum1==n:
    print(n,"is a perfect number")
else:
    print(n,"is not a perfect number")

6
3
6 is not a perfect number

In [13]:
#multiplication table
n=int(input())
for i in range(1,11):
    print(n,'*',i,'=',n*i)

5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [17]:
n=int(input())
for i in range(1,n+1):
    if i==5:
        continue
    print(i,end=" ")

10
1 2 3 4 6 7 8 9 10

In [18]:
n=int(input())
for i in range(1,n+1):
    print(i)
    if i==5:
        break

10
1
2
3
4
5

In [19]:
#with string values
name=input()
for i in name:
    print(i,end=" ")

vassu
v a s s u

In [ ]:
#ascii values

In [ ]:
1.ord()--> parameter is string(char)
2.chr()--> calculating character from ascii value

In [21]:
print(chr(73))
print(chr(121))
print(chr(98))

I
y
b

In [22]:
name=input()
for i in name:
    if ord(i)%2==0:
        print(ord(i))

thomas
116
104

In [23]:
print(ord('A'))
print(ord('s'))
print(ord('P'))

65
115
80

In [24]:
#print ascii value of a character from given string
name=input()
for i in name:
    print(ord(i))

revathi
114
101
118
97
116
104
105

In [26]:
name=input()
for i in name:
    if ord(i)%2==0:
        print(i,end='')
    else:
        res=ord(i)*ord(i)

neha
nh

In [28]:
name=input()
for i in name:
    if ord(i)%2==0:
        print(i,end='')
    else:
        res=(ord(i)*ord(i))/90
        res1=int(res)
        print(chr(res1),end='')

prakash
prhhÂ’h

In [29]:
name=input()
for i in name:
    if ord(i)%2==0:
        print(i)

nandini
n
n
d
n

In [31]:
i=1
while i<10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9

In [33]:
i=1
while i<=10:
    if i%2==0:
        print(i,end=' ')
    i=i+1

2 4 6 8 10

In [ ]:
###functions
*block of statements/set of statements to perform particular task is function
*block of statements will execute and return the result when function called
####function calling
1.function declaration
2.body of the function
3.function calling
#####types of functions
1.built_in
  1.max-->for calculating max
    2.min
    3.sum-->calculating sum
    4.len-->for calculating length
    5.ord
    6.chr
    7.abs-->absolute value
2.userdefine
*uf is ia fuction which is defined by the user perform particular task
  1.required arg
    2.default arg
    3.keyword arg
    4.variable length

In [ ]:
#syntax of function
def function_name(arg):#function declaration
    body of function   #body of the function
    function_name()

In [37]:
#greet
def sample():
    print("welcome to vignan's lara college")
    sample()

In [36]:
name=input()
def sample1():
    print("welcome to vignan's lara college",name)
sample1()

nanduvassu
welcome to vignan's lara college nanduvassu

In [41]:
def local():
    n=int(input())
    n1=int(input())   
    print("multiplication of",n,"and",n1,"is",n*n1)
local()

4
8
multiplication of 4 and 8 is 32

In [42]:
n=int(input())
n1=int(input())
def global1():
    print("multiplication of",n,"and",n1,"is",n*n1)
global1()
print(n,n1)

8
10
multiplication of 8 and 10 is 80
8 10

In [43]:
n=int(input())
def task():
    fact=1
    for i in range(1,n+1):
        fact=fact*i
        print(fact)
task()

8
1
2
6
24
120
720
5040
40320

In [1]:
#required
name=input()
org=input()
def required(name,org):
    print("name is:",name)
    print("organization is:",org)
required(name,org)

sunith
nandini
name is: sunith
organization is: nandini

In [2]:
def required(name,org,phn):
    print("name is:",name)
    print("organization is:",org)
    print("phone number is:",phn)
required('anu','apssdc','9908145135')

name is: anu
organization is: apssdc
phone number is: 9908145135

In [3]:
#default arg
def Default(a,b,c=10):
    print("addition is:",a+b+c)
    print("mul is:",a*b*c)
Default(3,2)

addition is: 15
mul is: 60

In [5]:
#keyword
def keyword(fname,1name,uname):
    print("name is:",fname+1name)
    print("username is:",uname)
keyword(uname='archana50',fname='archana',1name='elisala')

SyntaxError: invalid syntax (<ipython-input-5-054bb5bfcdf7>, line 2)