In [1]:
### data structures
* strings--->""or''
*lists---->[ ]
*tuples--->( )
*dictionaries--->{key:value}
*sets---->{ }

SyntaxError: can't use starred expression here (<ipython-input-1-06d473ea8079>, line 2)

In [ ]:
### strings
*collection of data or information with "" or''
* **accessing indexing values**
  *forward index(left to right(0 to n-1))
    *backward index(ringt to left(starts from -1))
    * ** delete a string**
     *using **del**keyword
        *slicing:
            *single slicing--->[:]
            *double slicing--->[::]

In [3]:
s="welcome"
print(s)
print(type(s))

welcome
<class 'str'>

In [4]:
s=10
type(s)

int

In [6]:
# forward index (0to n-1)
s="welcome"
print(s[0])
print(s[4])
print(s[5])
print(s[2])

w
o
m
l

In [7]:
# backward index(-1)
print(s[-1])
print(s[-4])
print(s[-3])

e
c
o

In [8]:
s="vasantha nandini"
print(s[11])
print(s[8])

n

In [10]:
s="welcome"
print(s[1:6])

elcom

In [11]:
print(s[2:])

lcome

In [12]:
print(s[1:-1])

elcom

In [13]:
#wLoe
s[0:7:2]

'wloe'

In [14]:
#wce
s[::3]

'wce'

In [16]:
#string is a palindrome
s="madam"
if s[0::]==s[::-1]:
    print("palindrome")
else:
    print("not a palindrome")

palindrome

In [17]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [18]:
#capitalize
s="good morning"
s.capitalize()

'Good morning'

In [19]:
#title
s="vasantha lakshmi thontla"
s.title()

'Vasantha Lakshmi Thontla'

In [20]:
#upper
s="vasantha nandhini"
s.upper()

'VASANTHA NANDHINI'

In [25]:
#lower
s="RAJA NANDINI"
s.lower()

'raja nandini'

In [21]:
#casefold
s="VASANTHA LAKSHMI REDDY"
s.casefold()

'vasantha lakshmi reddy'

In [22]:
#center
s="python"
s.center(10)

'  python  '

In [24]:
#center 
s="python"
s.center(2)

'python'

In [26]:
#swapcase
s="vaSaNTHa LAkshmi thONtla"
s.swapcase()

'VAsAnthA laKSHMI THonTLA'

In [27]:
#isupper
s="WELCOME"
s.isupper()

True

In [28]:
s="WElCOME"
s.isupper()

False

In [29]:
#islower
s="welcome"
s.islower()

True

In [30]:
s="weLCome"
s.islower()

False

In [32]:
#startswith
s="hello"
s.startswith('h')

True

In [33]:
s="hello"
s.startswith('o')

False

In [35]:
#endswith
s="vassu"
s.endswith('u')

True

In [36]:
s="vassu"
s.endswith('s')

False

In [37]:
#isspace
s=" "
s.isspace()

True

In [38]:
s=""
s.isspace()

False

In [39]:
s=" hiii "
s.isspace()

False

In [40]:
s="va su"
s.isspace()

False

In [41]:
s=" vas su "
s.isspace()

False

In [45]:
s=" v a s s u "
s.isspace()

False

In [43]:
#encode
s="hello"
print(type(s))
s1=s.encode()
print(type(s1))
print(s1)

<class 'str'>
<class 'bytes'>
b'hello'

In [46]:
#isalpha
s="abcdef"
s.isalpha()

True

In [47]:
s="123abcdef"
s.isalpha()

False

In [48]:
#isdigit
s="123456"
s.isdigit()

True

In [52]:
s="1234nandu"
s.isdigit()

False

In [50]:
#task
i/p: s="vidya 435 anu 540 ambika 522"
o/p: vidyaanuambika
    435540522

IndentationError: unexpected indent (<ipython-input-50-b3a90f496bab>, line 4)

In [51]:
s="vidya 435 anu 540 ambika 522"
s.isalpha()
s.isdigit()

False

In [9]:
s="vidya 435 anu 540 ambika 522"
s1=" "
s2=" "
for i in s:
    if i.isalpha():
        s1=s1+i
    elif(i.isdigit()):
        s2=s2+i
print(s1)
print(s2)
print(s)

 vidyaanuambika
 435540522
vidya 435 anu 540 ambika 522

In [8]:
s="vIDyA 528 anu aMBIka 522 "
s1=" "
s2=" "
s3=" "
s4=" "
s5=" "
c=0
c1=0
c2=0
c3=0
for i in s:
    if i.isalpha():
        s1=s1+i
        c=c+i
    elif i.isspace():
        s2=s2+i
        c1=c1+i
    elif i.isdigit():
        s3=s3+i
    elif i.isupper():
        s4=s4+i
        c2=c2+i
    elif i.islower():
        s5=s5+i
        c3=c3+i
print(s)
print(s1)
print(s2,c1)
print(s3)
print(s4,c2)
print(s5,c3)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [9]:
#count
s="welcome python classes"
s.count('e')

3

In [10]:
#Lstrip
s="    welcome     "
s.lstrip()

'welcome     '

In [11]:
#Rstrip
s="   welcome   "
s.rstrip()

'   welcome'

In [12]:
# expandtabs(size)
s="programing\tlanguage"
s.expandtabs(5)

'programing     language'

In [13]:
# zfill
s="hello"
s.zfill(10)

'00000hello'

In [14]:
#format
"{} {} language".format('python','programming')

'python programming language'

In [16]:
"{} language".format('python')

'python language'

In [35]:
n=int(input("enter a number:"))
for i in range(1,11):
    print(("{} {} {} {} {}").format(n,'*',i,'=',n*i))

enter a number:5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [29]:
#index
s="vignan"
s.index('g')

2

In [32]:
#index
s="hello"
s.index('l')

2

In [33]:
#join
s="python"
'@'.join(s)

'p@y@t@h@o@n'

In [36]:
#split
s="python"
s.split()

['python']

In [37]:
s="example@gmail.com"
s.split('@')

['example', 'gmail.com']

In [38]:
s="example@gmail.com"
s1=s.split('@')
print(s1)
print(s1[0][2])

['example', 'gmail.com']
a

In [40]:
#replace("old value","new value")
s="python "
s.replace(' ',"programming")

'pythonprogramming'

In [41]:
s="python "
s.replace(' ',"")

'python'

In [ ]:
#task
I/P:s="apssdc PYTHON proGraMmiNG vignans lara"
o/p:Apssdc python PRogRamMIng vignans LARA

In [42]:
s="apssdc PYTHON proGraMmiNG vignans lara"
s1=s.split()
print(s1[0].capitalize(),s1[1].lower(),s1[2].swapcase(),s1[3],s1[4].upper())

Apssdc python PROgRAmMIng vignans LARA

In [ ]:
#i/p: thontla vasantha lakshmi
#o/p: t.vasantha lakshmi

In [47]:
s="thontlavasanthalakshmi"
a=s.replace("thontla","t.")
print(a)

t.vasanthalakshmi

In [48]:
s="thontla vasanthalakshmi"
#print(s.replace('thontla',"t."))
s1=s.split()
print(s1[0][0],".",s1[1],sep="")

t.vasanthalakshmi

In [ ]:
###lists
*collection of elements within []separated by ,
*list having indexing and slicing
*list is mutable

In [49]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [50]:
l=[]
print(l)
print(type(l))

[]
<class 'list'>

In [53]:
l=[]
print(l.append(1))1

None

In [55]:
l1=[1,2,3,4,5]
l1.insert(2,7)
print(l1)

[1, 2, 7, 3, 4, 5]

In [57]:
l1=[1,2,3,4,5]
l1.reverse()
print(l1)

[5, 4, 3, 2, 1]

In [62]:
l1=[2,1,7,4,3]
l1.sort()
print(l1)

[1, 2, 3, 4, 7]

In [66]:
l=[]
for i in range(1,11):
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [67]:
l=[]
for i in range(1,11):
    if(i%2==0):
        l.append(i)
print(l)

[2, 4, 6, 8, 10]

In [73]:
l=[]
for i in range(5,500):
    if(i%5==0 and i%7==0):
        l.append(i)
print(l)

[35, 70, 105, 140, 175, 210, 245, 280, 315, 350, 385, 420, 455, 490]

In [81]:
l=[]
for i in range(1,500):
    if(i%4==0 or i%100!=0 or i%400==0):
        l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499]

In [82]:
#tuple
#collection of elements placed in ()
#it is immutable

In [83]:
t=()
print(t)
print(type(t))

()
<class 'tuple'>

In [84]:
t=(1,2,3,4,5)
print(t)
print(type(t))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [85]:
t1=list(t)
print(t1)
print(type(t1))

[1, 2, 3, 4, 5]
<class 'list'>

In [86]:
t2=tuple(t)
print(t2)
print(type(t2))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [87]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [92]:
t=(2,2,3,4,5,6)
t.count(2)

2

In [99]:
l=['1','2','3','4','5','6']
l1=list(map(str,l))
print(l1)

['1', '2', '3', '4', '5', '6']

In [102]:
l=[1,2,3,4]
l.index(1)

0

AttributeError: 'tuple' object has no attribute 'tuple'

In [106]:
t=(1,3,5,6)
for i in t:
    r=i*i
    print(r)

1
9
25
36

In [ ]:
### dictionaries
* collection items(key,value)
*{key:value}

In [107]:
d={}
print(type(d))
d1=dict()
print(type(d1))

<class 'dict'>
<class 'dict'>

In [108]:
l1=['a','b','c']
l2=[1,2,3]
d1=dict(zip(l1,l2))
print(d1)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
l=['2','4','6']
t=('abc','def','ghi')

In [109]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
d=